#
# https://github.com/dehesselle/bda
#
[Unit]
Description=Block Device Attached

[Service]
Type=oneshot
# Run the payload we're piggy-backing below.
ExecStart=/bin/bash -c "INSTANCE=%i; source <(sed -n '/^###PAYLOAD###/,/^###END###/{//!p}' /etc/systemd/system/%p@.service | cut -c 2-)"

###PAYLOAD###
#CONFIG_DIR=/etc/blkdev-attached.d
#INSTANCE_CFG=$CONFIG_DIR/$INSTANCE
#
#if [ -f $INSTANCE_CFG ]; then
#  echo "sourcing $INSTANCE_CFG"
#  source $INSTANCE_CFG
#else
#  # nothing to do
#  :
#fi
###END###
